<!-- metadata: title -->
# Kenya Unit Trusts: Money Market Fund(KES) Analysis

<!-- metadata: subtitle -->
> ### Can Kenyan Money Market Funds gurantee capital preservation?

<!-- metadata: date, type=date -->
**Published Date:**
2024-03-03

<!-- metadata: date-modified, type=date-->
**Date Modified:**
2024-05-05

<!-- metadata: keywords, is_array=true -->
**Keywords:**
  - money
  - kenya
  - unit-trusts
  - money-market-funds
  - MMF

<!-- metadata: categories, is_array=true -->
**Categories:**
  - kenya unit trusts
  - data science
  - money

## Description

<!-- metadata: description -->
Money market is an investment unit trust, where fund managers collect money from public investors, and invested collectively. Money Market is a financial asset that is short-term, highly liquid. Compared to bank deposits, Money Market offers a higher interest with a lower barrier of entry. Besides a higher interest, money moarket accounts offer compound interest unlike bank deposts which mostly offer simple interest. Let's statistically and critically analyze Money market funds in Kenya in general using publicly available information and hopefully paint a picture of the state of unit trust investments in Kenya.

## Introduction

In Kenya, a good number of the population have a bank account, even if not the traditional bank account. It is estimated that by year 2029, 99.9% of Kenyans will be banked, ^[Population share with banking account in Kenya 2014-2029
Published by J. Degenhard, Jan 30, 2024. <https://www.statista.com/forecasts/1149636/bank-account-penetration-forecast-in-kenya>]. With increase in financial access, financial literacy and regular individuals will want to venture in the teritory of finantial assets huunting for higher interest rates. One of the most attractive entry level high-yield financial asset is the unit trust, specifically the money market funds. Its easy to start, deposit, withdraw, and its interest is daily compunding, while offering higher interest than any bank.

Unit trusts are required to publish their daily and effective annual yields on the daily newspapers, and thus an investor can therefore always confirm the value of their investment as well as benchmark the performance against other unit trusts. It is also mandatory for the scheme to issue monthly statements showing an investor’s investments position.^[Investing in Unit Trust Funds; 19 May, 2019; see <https://cytonn.com/topicals/investing-in-unit-1>]^[Publishing daily the price of units in at least two daily newspapers of national circulation,
in English. <https://cma.or.ke/wp-content/uploads/2023/03/CMA-Handbook-2021.pdf> ]

Unit Trust is required to have at least three trustees, ^[https://cma.or.ke/wp-content/uploads/2023/03/CMA-Handbook-2021.pdf]

^[https://www.google.com/search?q=unit+trusts+are+mandated+to+inform+customers+of+yileds+CMA&sca_esv=d7f5b94d2e0e1e85&sca_upv=1&rlz=1C5GCEM_en&sxsrf=ADLYWIIy4tzw-iKWAAcD-6cN8riYTbVjdA%3A1720446046799&ei=XuyLZqa8MLSOxc8Pw42giA4&ved=0ahUKEwim4-X7yJeHAxU0R_EDHcMGCOEQ4dUDCA8&uact=5&oq=unit+trusts+are+mandated+to+inform+customers+of+yileds+CMA&gs_lp=Egxnd3Mtd2l6LXNlcnAiOnVuaXQgdHJ1c3RzIGFyZSBtYW5kYXRlZCB0byBpbmZvcm0gY3VzdG9tZXJzIG9mIHlpbGVkcyBDTUEyBxAhGKABGAoyBxAhGKABGApI1RFQvwFYtw5wAXgBkAEAmAHeAqABlQmqAQUyLTMuMbgBA8gBAPgBAZgCBaACownCAgoQABiwAxjWBBhHwgIFECEYnwWYAwDiAwUSATEgQIgGAZAGCJIHBzEuMC4zLjGgB5cW&sclient=gws-wiz-serpsssss]

## Comparison: Money Market Investments vs. Bank Deposits in Kenya

| Feature | Money Market Funds (KES) | Bank Deposits (KES) |
|---------|--------------------------|----------------|
| Withdraw time | Same day to 3 business days depending on account type and fund manager. Joint accounts may take longer than personal accounts. Withdrwal via bank account may take longer than MPESA withdrwals. | Same day to 7 business days, depending on account type. Same day for Saving account. |
| Adding new Money | Can be done easily, often with minimum amounts | Can be done easily, sometimes with minimum amounts depending on account type  |
| Interest type | Generally Compound Interest | Usually Simple interest |
| Risk level | Low to moderate. There is about 25% chance you can loose your principal investment, or part ot it. | Low. There is about 15% you can loose your principle investment, or part of it. |
| Secured | Not secured by government | Secured up to Ksh 500,000 by KDIC^[[Kenya Deposit Insurance Corporation](https://kdic.go.ke/)] |
| Penalties | May have penalties for more than two withdrawals per month. No penalty for Cancelation. | Savings accounts - no penalty for withdrawal, may have penalty on cancelation; <br/><br/> Fixed deposits - may have penalties for withdrawing and cancelation. |
| Creating an account | Simpler process and usually require lower initial deposit, approximately Ksh 5,000; your KRA PIN and one or more KYC documents | Simple process, higher initial deposit, averagely Ksh 20,000. |
| Interest rate | Generally higher than inflation (approximately 10-17% p.a.)**<br/>The interest rates determined by daily market yield, with factors such as Treasury bills greately determining the yield. | Generally lower than inflation with exception of bank campaign offers to attract new customers. |
| Minimum balance | Often No minumum balance. You can withdrawl all your money. | Savings accounts may have minimum balance. Fixed deposits can be withdrawn fully withput a minimum balance. |
| Account management | Fund managers manage the account, taking a percentage of the profit, usually 2%. | No necessary management. |
| Accessibility | Less accessible, may require sending an email to initiate withdrawals. Some fund managers have mobile or wen applications but transactions need to be approved. | Highly accessible through bank branches and digital platforms |
| Investment options | Mostly T-bills, commercial papers, and bank deposits. | No disclosure of where the money is invested. |
| Term length | Flexible, short-term to long-term. You can invest today and withdraw after one week, without a pernalty, and having earned interest for that one week. | Fixed on either minimum period before withdrwal (approximately 6 months), or fixed intervals of withdrawal. |
| Yield fluctuations | More sensitive to market conditions | More stable, fixed interest. |

## Data

Despite the requirements to have the daily yield published in two national newspapers, it is fairly tasking to find a good data source. Also, since there dont have to publish the newspapers that have digital alternatives, it also becomes difficult to capture all yileds without visiting the library and grabbing the actual physical copies, which makes this task very expesnsive. Again, getting historical data is also not free, most old newspaper records are sold, adding up the cost. Fortunately, since 2014, Cytonn has been doing free makket research, and publishing them at <https://cytonnreport.com/>. A few fund managers publish their daily yields at their websites, but without historical data; just the current day's yield, which effectively makes this data unuseful for analysis.

We settled on crawling and analysing the massive cytton research data that is publicly available since 2014. With over 600 reports with, crawl each of the reports in a way that doesnt break their systems, or deny others the service, extract the table, aggregate the table results and analyze the tables. We checked with Cytonn's terms of service. users are allowed to use their copyright data in accordance with fair use/dealing, ^[Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions. <https://cytonn.com/terms-of-use> ]. To allow others to reproduce this analysys, we will save a copy of the crawled data for future researchers and data enthusisists.

## Analysis

### Imports

In [1]:
import sys
import os

# Add parent directory to sys.path
root_dir = os.path.abspath(os.path.join(os.getcwd(), '../..'))
sys.path.append(root_dir)

%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
from pyppeteer.page import Page
import asyncio
import json
import io
from bs4 import BeautifulSoup, Tag
from urllib.request import urlopen
from pyppeteer.page import Request
from matplotlib import pyplot as plt
from tqdm import tqdm
import re
import webbrowser
from typing import Callable
from copy import copy
from datetime import datetime, timedelta
import plotly.io as pio
import plotly.express as px
from python_utils.web_screenshot import web_screenshot_async
from python_utils.get_browser import get_browser_page_async

pio.renderers.default = "plotly_mimetype+notebook_connected"

### Fund Managers

Let's start of by listing all the certified fund mangers in Kenya by CMA.^[Approved Fund Managers by CMA. <https://www.cma.or.ke/licensees-market-players/>]

Lets start with a screenshot of the webpage.

In [ ]:
async def action(page: Page):
    await page.waitForSelector('ul.module-accordion')
    elements = await page.querySelectorAll('li .accordion-title')
    # Iterate through the elements to find the one containing 'FUND MANAGERS'
    for element in elements:
        text_content = await page.evaluate('(element) => element.textContent', element)
        if 'FUND MANAGERS' in text_content:
            # Click on the target element
            await element.click()
            break
    else:
        print('Element not found')
    await page.waitForSelector('li.current.builder-accordion-active')
    await asyncio.sleep(1)

await web_screenshot_async(
    "https://www.cma.or.ke/licensees-market-players/", 
    action = action,
    width=1500)

Let's query the "Fund Managers" table.

In [5]:
url_response = urlopen("https://www.cma.or.ke/licensees-market-players/").read()
fund_managers_html_table = BeautifulSoup(url_response, "html.parser")\
    .find('span', string="FUND MANAGERS")\
        .parent\
            .parent\
                .parent\
                    .find('table')

fund_managers_df = pd.read_html(io.StringIO(str(fund_managers_html_table)))[0].dropna()
fund_managers_df

,NAME,ADDRESS,LICENCE NO.
0,Orient Asset Managers Limited,"P.O. Box 34530-00100, Nairobi",23.0
1,Amana Capital Limited,"P.O. Box 9480-00100, Nairobi",24.0
2,Apollo Asset Management Company Limited,"P.O. Box 30389-00100, Nairobi",25.0
3,Britam Asset Managers (Kenya) Limited,"P.O. Box30375-00100, Nairobi",27.0
4,Metropolitan Canon Asset Managers Limited,"P.O. Box 30216-00100, Nairobi",28.0
5,Nabo Capital Limited,"P.O. Box 10518-00100, Nairobi",29.0
6,CIC Asset Managers Limited,"P.O. Box 59485-00200, Nairobi",30.0
7,Co-op Trust Investment Services Limited,"P.O. Box 48231-00100, Nairobi",31.0
8,FCB Capital Limited,"P.O. Box 26219-00100, Nairobi",32.0
9,Fusion Investment Management Limited,"P.O. Box 47583-00100, Nairobi",33.0
10,GenAfrica Asset Managers Limited,"P.O. Box79217-00100, Nairobi",34.0
11,ICEA Asset Lion Asset Management Limited,"P.O. Box46143-00100, Nairobi",35.0
12,Madison Investment Managers Limited,"P.O. Box 20092-00100, Nairobi",37.0
13,Old Mutual Investment Group,P.O. Box 11589-00400. Nairobi,38.0
14,Sanlam Investments East Africa Limited,"P.O. Box 67262-00100, Nairobi",40.0
15,Standard Chartered Investment Services Limited,"P.O. Box 30003-00100, Nairobi",42.0
16,Zimele Asset Management Company Limited,"P.O. Box76528-00508, Nairobi",45.0
17,KCB Asset Management Limited (formerly Natbank...,"P.O. Box 72866-00200, Nairobi",87.0
18,Cytonn Asset Managers Limited,"P.O. Box 20295-00200, Nairobi",108.0
19,Altree Capital Kenya Limited,"P.O. Box 2607-00200, Nairobi",110.0
20,Jubilee Financial Services Limited,"P.O. Box 30367-00100, Nairobi",119.0
21,ABSA Asset Management Limited,"P.O. Box 30120-00200, Nairobi",129.0
22,African Diaspora Asset Managers Limited,"P.O. Box 1838 City Square, Nairobi",131.0
23,CFS Asset Management Limited,"P.O. Box 62268-00200, Nairobi",134.0
24,I&M Capital Limited,"P.O. Box 30328-00100, Nairobi",145.0
25,Globetec Asset Managers Limited,"P.O. Box 19018-00100, Nairobi",154.0
26,African Alliance Kenya Asset Management Limited,P.O. Box,165.0
27,CPF Financial Services Limited,"P.O. Box 28938-00200, Nairobi",164.0
28,Kuza Asset Management Limited,"P.O. Box 4611-00100, Nairobi",161.0
29,Waanzilishi Capital Limited,P.O. Box 48015-00100 Nairobi,168.0
30,Mayfair Asset Managers Limited,"P.O. Box 45616-00100, GPO Nairobi",172.0
31,Etica Capital Limited,"P.O. Box 3245 Village Market, Nairobi",171.0
32,Star Capital Management Limited,"P.O. Box 80234, Mombasa",166.0
33,Lofty-Corban Investments Limited,P.O. Box 37030-00200 Nairobi,180.0

The address of `African Alliance Kenya Asset Management Limited` doesnt seem to be valid, lets populate it with `P.O. Box 27639 Nairobi 00506`

In [6]:
fund_managers_df.loc[fund_managers_df['LICENCE NO.'] == 165, 'ADDRESS'] = 'P.O. Box 27639 Nairobi 00506'
fund_managers_df

,NAME,ADDRESS,LICENCE NO.
0,Orient Asset Managers Limited,"P.O. Box 34530-00100, Nairobi",23.0
1,Amana Capital Limited,"P.O. Box 9480-00100, Nairobi",24.0
2,Apollo Asset Management Company Limited,"P.O. Box 30389-00100, Nairobi",25.0
3,Britam Asset Managers (Kenya) Limited,"P.O. Box30375-00100, Nairobi",27.0
4,Metropolitan Canon Asset Managers Limited,"P.O. Box 30216-00100, Nairobi",28.0
5,Nabo Capital Limited,"P.O. Box 10518-00100, Nairobi",29.0
6,CIC Asset Managers Limited,"P.O. Box 59485-00200, Nairobi",30.0
7,Co-op Trust Investment Services Limited,"P.O. Box 48231-00100, Nairobi",31.0
8,FCB Capital Limited,"P.O. Box 26219-00100, Nairobi",32.0
9,Fusion Investment Management Limited,"P.O. Box 47583-00100, Nairobi",33.0
10,GenAfrica Asset Managers Limited,"P.O. Box79217-00100, Nairobi",34.0
11,ICEA Asset Lion Asset Management Limited,"P.O. Box46143-00100, Nairobi",35.0
12,Madison Investment Managers Limited,"P.O. Box 20092-00100, Nairobi",37.0
13,Old Mutual Investment Group,P.O. Box 11589-00400. Nairobi,38.0
14,Sanlam Investments East Africa Limited,"P.O. Box 67262-00100, Nairobi",40.0
15,Standard Chartered Investment Services Limited,"P.O. Box 30003-00100, Nairobi",42.0
16,Zimele Asset Management Company Limited,"P.O. Box76528-00508, Nairobi",45.0
17,KCB Asset Management Limited (formerly Natbank...,"P.O. Box 72866-00200, Nairobi",87.0
18,Cytonn Asset Managers Limited,"P.O. Box 20295-00200, Nairobi",108.0
19,Altree Capital Kenya Limited,"P.O. Box 2607-00200, Nairobi",110.0
20,Jubilee Financial Services Limited,"P.O. Box 30367-00100, Nairobi",119.0
21,ABSA Asset Management Limited,"P.O. Box 30120-00200, Nairobi",129.0
22,African Diaspora Asset Managers Limited,"P.O. Box 1838 City Square, Nairobi",131.0
23,CFS Asset Management Limited,"P.O. Box 62268-00200, Nairobi",134.0
24,I&M Capital Limited,"P.O. Box 30328-00100, Nairobi",145.0
25,Globetec Asset Managers Limited,"P.O. Box 19018-00100, Nairobi",154.0
26,African Alliance Kenya Asset Management Limited,P.O. Box 27639 Nairobi 00506,165.0
27,CPF Financial Services Limited,"P.O. Box 28938-00200, Nairobi",164.0
28,Kuza Asset Management Limited,"P.O. Box 4611-00100, Nairobi",161.0
29,Waanzilishi Capital Limited,P.O. Box 48015-00100 Nairobi,168.0
30,Mayfair Asset Managers Limited,"P.O. Box 45616-00100, GPO Nairobi",172.0
31,Etica Capital Limited,"P.O. Box 3245 Village Market, Nairobi",171.0
32,Star Capital Management Limited,"P.O. Box 80234, Mombasa",166.0
33,Lofty-Corban Investments Limited,P.O. Box 37030-00200 Nairobi,180.0

### Add Columns

- Location Coordinates (and google map)
- Headquter location/address/country
- Launch Date
- Risk Profile
- Trustee
- Custodian
- Auditors
- Minimum Investment
- Minimum Additional Investment
- Initial Fee
- Annual Management Fee
- Distribution
- Asset Under Management/Market share
- Advertised Rate [Gross, Net]
- Duration to withdraw
- Security - joint account verification/validation
- has online portal
- Withdraw chargessssss
- Contacts
- where are the daily yileds published!

https://cytonnreport.com/research/cmmf-fact-sheet-june-2021

https://cytonnreport.com/research/cmmf-fact-sheet-may-2021

https://cytonnreport.com/research/cmmf-fact-sheet-april-2021

https://ke.cicinsurancegroup.com/mmf/

https://ke.britam.com/save-and-invest/business/invest/unit-trust-funds/unit-trusts


TAKE NOTE OF USD MMF
TAKE NOTE OF MERGED OBSOLTELE MANAGERS, EG ALPHA/KASHA NPW ORIENT

### Getting the Perormance

According to Capital Markets Authority, fund managers are required to publish their yields daily in a reputable newspaper. What this means accessing hostorical records requires a significant investment in time to collect, aggregate and validate the published yields. That not withstanding, two very important questions become obvious:
 - what is a reputbale newspaper? 
 - what yield do they publish, gross or net?
 - What picture does an anualized daily rate paint?
 - Is interest deffered or carried forward (reporting a convervative figure and retaining the rest for rainy day to preserve a picture of good performance)?

Luckily, one of the fund managers, one that has recently found its self in the courts far more often than it would have wished, does exelent investment and market research. It has a good-enough aggregate of fund managers and their performance weekly and monthly. We are going to crawl their data for analysis, and analyze it for manipulation.If the data comeout clean, we will analyze the trend of fund managers using the data.

### Cytton Research

We are going to crawl the data from cytonn research, https://cytonn.com/researches/categories/1

#### screen shots

Lests start with a view of weekly reports

In [ ]:
await web_screenshot_async(
    "https://cytonn.com/researches/categories/1",
    width=1000)

Here is the latest report

In [ ]:
await web_screenshot_async(
    "https://cytonnreport.com/research/cytonn-h12024-markets",
    width=1000)

Instead of directly crawling HTML from https://cytonn.com/researches/ page, we can instead crawl JSON from https://cytonnreport.com/research page, using the link https://cytonnreport.com/get/allreports.

In [3]:
async def get_all_cytonn_reports(per_page_count: int = 10):
    page, browser = await get_browser_page_async()
    reports_url = "https://cytonnreport.com/get/allreports"
    reports_headers: dict = None
    reports_method: str = None
    async def catch_request(request: Request):
        nonlocal reports_headers
        nonlocal reports_method
        if request.url == reports_url:
            reports_headers = request.headers.copy()
            reports_method = request.method
            await request.continue_()
        else:
            await request.continue_()
    async def get_cytonn_reports(current_page: int):
        javascript_fetch_fn = f'''
            async () => {{
                try {{
                    const response = await fetch(
                        "{reports_url}", 
                        {{
                            "headers": {json.dumps(reports_headers)},
                            "method": "{reports_method}",
                            "body": {json.dumps(json.dumps(
                                {
                                    "pagination": {
                                        "per_page": per_page_count, 
                                        "current_page": current_page
                                    }
                                }))},
                            "referrer": "https://cytonnreport.com/research",
                            "referrerPolicy": "no-referrer-when-downgrade",
                            "mode": "cors",
                            "credentials": "include"
                        }});
                    if (!response.ok) {{
                        throw new Error(`HTTP error! status: ${{response.status}}`);
                    }}
                    const json = await response.json();
                    return json;
                }} catch (error) {{
                    console.error('Fetch error:', error);
                    throw error; // Re-throw to allow calling code to handle it
                }}
            }}
        '''
        response_json = await page.evaluate(javascript_fetch_fn)
        return response_json
    # Enable request interception
    await page.setRequestInterception(True)
    # Attach the request handler
    page.on('request', lambda request: asyncio.ensure_future(catch_request(request)))
    # Navigate to the desired URL
    await page.goto("https://cytonnreport.com/research")
    while not reports_headers:
        await asyncio.sleep(1)
    current_page = 1
    all_reports = []
    pbar: tqdm = None
    while True:
        reports_response = await get_cytonn_reports(current_page)
        reports = reports_response['data'] if reports_response else []
        if len(reports) > 0:
            total = reports_response['total']
            pbar = pbar or tqdm(total=total)
            pbar.update(len(reports))
            all_reports.extend(reports)
            last_page = reports_response['last_page']
            if last_page == current_page:
                break
            current_page += 1
        else:
            break
        await asyncio.sleep(0.5)
    await browser.close()
    if pbar:
        pbar.close()
    return all_reports

all_cytonn_reports = await get_all_cytonn_reports()
print(f'There are {len(all_cytonn_reports)} reports')

100%|██████████| 640/640 [02:43<00:00,  3.91it/s]

There are 640 reports

In [4]:
# https://charanhu.medium.com/converting-pandas-dataframe-into-a-dataset-and-pushing-to-hugging-face-146e2ccac38d
all_cytonn_reports_df = pd.DataFrame(all_cytonn_reports)
# with pd.option_context(
#   'display.max_columns', None, 
#   'display.max_colwidth', 100):
#   display(all_cytonn_reports_df)
all_cytonn_reports_df

,id,slug,name,author,researchdate,active,created_by,series_id,campaign,sent,...,title,category,summary,body,date_holder,date,creator,status,series,topics
0,722,kenya-retail-report,"Kenya Retail Report 2024, & Cytonn Weekly #29/...",Research team,2024-07-21,1,94,1,2317,1,...,"Kenya Retail Report 2024, & Cytonn Weekly #29/...",Investment Reports,"<p><strong>Money Markets, T-Bills Primary Auct...","<p><strong>Money Markets, T-Bills Primary Auct...",21,"21 July, 2024",Chelsea Nyakundi,Active,"{'id': 1, 'name': 'Cytonn Weekly', 'descriptio...","[{'id': 2417, 'name': 'Fixed Income', 'slug': ..."
1,721,special-interest-group,"Special Interest Group Funds in Kenya, & Cyton...",Research Team,2024-07-14,1,97,1,2308,1,...,"Special Interest Group Funds in Kenya, & Cyton...",Investment Reports,<p><strong>Investment Updates:</strong></p>\r\...,<p><strong>Investment Updates:</strong></p>\r\...,14,"14 July, 2024",Ian Kaire,Active,"{'id': 1, 'name': 'Cytonn Weekly', 'descriptio...","[{'id': 2412, 'name': 'Company updates', 'slug..."
2,720,kenyas-fy2024-2025-budget,"Kenya’s FY’2024/2025 Budget Review, & Cytonn W...",Research Team,2024-07-07,1,95,1,2279,1,...,"Kenya’s FY’2024/2025 Budget Review, & Cytonn W...",Investment Reports,"<p><strong>Money Markets, T-Bills Primary Auct...","<p><strong>Money Markets, T-Bills Primary Auct...",7,"7 July, 2024",Fredrick Maore,Active,"{'id': 1, 'name': 'Cytonn Weekly', 'descriptio...","[{'id': 2407, 'name': 'Fixed Income', 'slug': ..."
3,719,cytonn-h12024-markets,Cytonn H1’2024 Markets Review,Research Team,2024-06-30,1,93,1,2258,1,...,Cytonn H1’2024 Markets Review,Investment Reports,<p><strong>Global Economic Growth: </strong></...,<p><strong>Global Economic Growth: </strong></...,30,"30 June, 2024",Erick Kariuki,Active,"{'id': 1, 'name': 'Cytonn Weekly', 'descriptio...","[{'id': 2400, 'name': 'Global Markets Review',..."
4,718,kenya-fy2023-insurance,"Kenya FY’2023 Insurance Report, & Cytonn Weekl...",Research Team,2024-06-23,1,92,1,2243,1,...,"Kenya FY’2023 Insurance Report, & Cytonn Weekl...",Investment Reports,<p><strong>Investment Updates:</strong></p>\r\...,<p><strong>Investment Updates:</strong></p>\r\...,23,"23 June, 2024",Edna Dande,Active,"{'id': 1, 'name': 'Cytonn Weekly', 'descriptio...","[{'id': 2395, 'name': 'Company updates', 'slug..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,4,update-nov-21-2014,Cytonn Weekly Update,Shiv Arora,2014-11-21,1,1,1,None,0,...,Cytonn Weekly Update,Investment Reports,<h3>Kenya Market Update &amp; Outlook?\n</h3>\...,<h3>Kenya Market Update &amp; Outlook?\n</h3>\...,21,"21 November, 2014",Cytonn Research Team,Active,"{'id': 1, 'name': 'Cytonn Weekly', 'descriptio...","[{'id': 4, 'name': 'Cytonn Weekly', 'slug': 'u..."
636,3,update-nov-7-2014,Cytonn Weekly Update,Shiv Arora,2014-11-07,1,1,1,None,0,...,Cytonn Weekly Update,Investment Reports,<h3>Kenya Market Update &amp; Outlook?</h3>\n\...,<h3>Kenya Market Update &amp; Outlook?</h3>\n\...,7,"7 November, 2014",Cytonn Research Team,Active,"{'id': 1, 'name': 'Cytonn Weekly', 'descriptio...","[{'id': 3, 'name': 'Cytonn Weekly', 'slug': 'u..."
637,2,update-oct-24-2014,Cytonn Weekly Update,Shiv Arora,2014-10-24,1,1,1,None,0,...,Cytonn Weekly Update,Investment Reports,<h3>Kenya Market Update &amp; Outlook</h3>\n\n...,<h3>Kenya Market Update &amp; Outlook</h3>\n\n...,24,"24 October, 2014",Cytonn Research Team,Active,"{'id': 1, 'name': 'Cytonn Weekly', 'descriptio...","[{'id': 2, 'name': 'Cytonn Weekly', 'slug': 'u..."
638,1,rebasing-of-kenyas-gdp,Rebasing of Kenya's GDP,Shiv Arora,2014-10-17,1,1,1,None,0,...,Rebasing of Kenya's GDP,Investment Reports,<h3>What happened during Kenya?s rebasing?</h3...,<h3>What happened during Kenya?s rebasing?</h3...,17,"17 October, 2014",Cytonn Research Team,Active,"{'id': 1, 'name': 'Cytonn Weekly', 'descriptio...","[{'id': 1, 'name': 'Cytonn Weekly', 'slug': 'r..."
639,316,kcb-group-earnings,KCB Group Earnings Note – H1’2019,Cytonn Investments,None,1,68,3,2f9339c3d8,0,...,KCB Group Earnings Note – H1’2019,Investment Reports,,,25,"25 July, 2024",Michael Olukaka,Active,"{'id': 3, 'name': 'MPC Notes', 'description': ...",[]

In [11]:
#|output: false

# from python_utils.upload_dataset import upload_dataframe_to_huggingface

# repo_id = "ToKnow-ai/money-market-funds-in-kenya__july-2024-archive"

# upload_dataframe_to_huggingface(fund_managers_df, repo_id=repo_id, dataset_name="cma_approved_fund_managers", split="raw_data")

# upload_dataframe_to_huggingface(all_cytonn_reports_df, repo_id=repo_id, dataset_name="cytonn_reports", split="raw_data")

Uploading the dataset shards:   0%|          | 0/1 [00:00<?, ?it/s]

Creating parquet from Arrow format:   0%|          | 0/1 [00:00<?, ?ba/s]

'cytonn_reports' dataset uploaded successfully.
repo_id: 'ToKnow-ai/money-market-funds-in-kenya__july-2024-archive'
revision:'8b48bb1bba76e43675c40541f6eab8188a7342f1'
url: 'https://huggingface.co/datasets/ToKnow-ai/money-market-funds-in-kenya__july-2024-archive'

In [ ]:
all_cytonn_reports_df.iloc[0]

In [ ]:
all_cytonn_reports_df.columns

In [ ]:
def parse_grouped_dates(date_string: str):
    pattern = r"^(FY|Q[1-4]|H[1-2])'(\d{4})$"
    match = re.match(pattern, date_string, re.IGNORECASE)
    if not match:
        return None
    period, year = match.groups()
    year = int(year)
    if period.upper() == 'FY':
        start_date = datetime(year, 1, 1)
        end_date = datetime(year, 12, 31)
    elif period.upper().startswith('Q'):
        quarter = int(period[1])
        start_month = (quarter - 1) * 3 + 1
        start_date = datetime(year, start_month, 1)
        end_date = start_date.replace(month=start_month + 2) + timedelta(days=32)
        end_date = end_date.replace(day=1) - timedelta(days=1)
    elif period.upper().startswith('H'):
        half = int(period[1])
        start_month = (half - 1) * 6 + 1
        start_date = datetime(year, start_month, 1)
        end_date = start_date.replace(month=start_month + 5) + timedelta(days=32)
        end_date = end_date.replace(day=1) - timedelta(days=1)
    return (start_date.strftime('%Y-%m-%d'), end_date.strftime('%Y-%m-%d'))

# Test the function
test_dates = ["FY'2019", "Q1'2020", "H1'2019", "fy'2018", "q3'2021", "h2'2022"]

for expanding_value in test_dates:
    result = parse_grouped_dates(expanding_value)
    if result:
        print(f"{expanding_value}: {result}")
    else:
        print(f"{expanding_value}: Invalid format")

In [ ]:
fund_manager_maps = [
    # (['etica'], 'Etica Capital Limited'),
    # (['lofty-corban'], 'Lofty-Corban Investments Limited'),
    # (['genafrica'], 'GenAfrica Asset Managers Limited'),
    # (['nabo'], 'Nabo Capital Limited'),
    # (['cytonn'], 'Cytonn Asset Managers Limited'),
    # (['apollo'], 'Apollo Asset Management Company Limited'),
    # (['kuza'], 'Kuza Asset Management Limited'),
    # (['enwealth'], 'Enwealth Money Market Fund'),
    # (['madison'], 'Madison Investment Managers Limited'),
    # (['co-op'], 'Co-op Trust Investment Services Limited'),
    # (['sanlam'], 'Sanlam Investments East Africa Limited'),
    # (['gencap', 'imara'], 'GenCap Hela Imara Money Market Fund'),
    # (['mayfair'], 'Mayfair Asset Managers Limited'),
    # (['aa'], 'AA kenya shillings fund'),
    # (['jubilee'], 'Jubilee Financial Services Limited'),
    # (['orient', 'kasha', 'alpha', 'alphafrica'], 'Orient Asset Managers Limited'), # 'Alpha Africa Asset Managers'
    # (['mutual', 'old'], 'Old Mutual Investment Group'),
    # (['absa'], 'ABSA Asset Management Limited'),
    # (['dry'], 'Dry Associates Money Market Fund'),
    # (['kcb', 'natbank'], 'KCB Asset Management Limited (formerly Natbank Trustee and Investment Services Limited)'),
    # (['cic'], 'CIC Asset Managers Limited'),
    # (['icea'], 'ICEA Asset Lion Asset Management Limited'),
    # (['equity'], 'Equity money market fund'),
    # (['mali'], 'Mali Money Market Fund'),
    # (['britam', 'british-american', 'british', 'american'], 'Britam Asset Managers (Kenya) Limited'),
    # (['zimele'], 'Zimele Asset Management Company Limited'),
    # (['ncba'], 'NCBA Unit Trust Scheme'),
    # (['genghis'], 'Genghis Unit Trust Fund'),
    # (['commercial'], 'Commercial Bank of Africa'),
    # (['alliance'], 'African Alliance Kenya'),
    # (['stanlib'], 'Stanlib Kenya'),
    # (['amana'], 'Amana Capital Limited'),
    # # (['alpha', 'alphafrica'], 'Alpha Africa Asset Managers'),
    # (['arvocap'], 'Arvocap Money Market Fund'),
    # (['madisson'], 'Madisson Money Market Fund'),
    # (['wanafunzi'], 'Wanafunzi Investments')
    (['orient', 'kasha', 'alpha', 'alphafrica'], 'Orient Asset Managers Limited'),
    (['amana'], 'Amana Capital Limited'),
    (['apollo'], 'Apollo Asset Management Company Limited'),
    (['britam', 'british-american', 'british', 'american'], 'Britam Asset Managers (Kenya) Limited'),
    (['metropolitan'], 'Metropolitan Canon Asset Managers Limited'),
    (['nabo'], 'Nabo Capital Limited'),
    (['cic'], 'CIC Asset Managers Limited'),
    (['co-op'], 'Co-op Trust Investment Services Limited'),
    (['fcb'], 'FCB Capital Limited'),
    (['fusion'], 'Fusion Investment Management Limited'),
    (['genafrica'], 'GenAfrica Asset Managers Limited'),
    (['icea'], 'ICEA Asset Lion Asset Management Limited'),
    (['madison'], 'Madison Investment Managers Limited'),
    (['mutual', 'old'], 'Old Mutual Investment Group'),
    (['sanlam'], 'Sanlam Investments East Africa Limited'),
    (['standard'], 'Standard Chartered Investment Services Limited'),
    (['zimele'], 'Zimele Asset Management Company Limited'),
    (['kcb', 'natbank'], 'KCB Asset Management Limited'), # (formerly Natbank Trustee and Investment Services Limited)
    (['cytonn'], 'Cytonn Asset Managers Limited'),
    (['altree'], 'Altree Capital Kenya Limited'),
    (['jubilee'], 'Jubilee Financial Services Limited'),
    (['absa'], 'ABSA Asset Management Limited'),
    (['african'], 'African Diaspora Asset Managers Limited'),
    (['cfs'], 'CFS Asset Management Limited'),
    (['i&m'], 'I&M Capital Limited'),
    (['globetec'], 'Globetec Asset Managers Limited'),
    (['african'], 'African Alliance Kenya Asset Management Limited'),
    (['cpf'], 'CPF Financial Services Limited'),
    (['kuza'], 'Kuza Asset Management Limited'),
    (['waanzilishi'], 'Waanzilishi Capital Limited'),
    (['mayfair'], 'Mayfair Asset Managers Limited'),
    (['etica'], 'Etica Capital Limited'),
    (['star'], 'Star Capital Management Limited'),
    (['lofty-corban'], 'Lofty-Corban Investments Limited')
]
fund_manager_maps

In [ ]:
non_existent_fund_manager_maps = []
invalids = []
class RecordInfo:
    TYPE_AUM: str = 'AUM' # 'AUM' - Assets Under Management
    TYPE_EAR: str = 'EAR' # 'EAR' - Effective Annual Rate
    def __init__(self, record_type: str, record_date: str, record_value: str, fund_manager: str):
        self.record_type = RecordInfo.__validate_record_type(record_type)
        self.record_date = parse_grouped_dates(record_date) or datetime.strptime(record_date, "%Y-%m-%d").strftime('%Y-%m-%d') or None
        self.record_value = RecordInfo.__validate_record_value(record_value)
        self.fund_manager = RecordInfo.__validate_fund_manager(fund_manager)
    def is_valid(self) -> bool:
        is_valid = bool(self.record_type) and bool(self.record_date) and bool(self.record_value) and bool(self.fund_manager)
        return is_valid
    @staticmethod
    def __validate_fund_manager(value: str) -> str|None:
        value = str(value or '').lower()
        excludes = ['Dollar', 'USD']
        if not any((exclude.lower() in value) for exclude in excludes):
            names = [j for i, j in fund_manager_maps if any(k in value for k in i)]
            if len(names) == 1:
                return names[0]
        non_existent_fund_manager_maps.append(value)
        return None
    @staticmethod
    def __validate_record_value(value: str|float) -> str|None:
        if type(value) == float:
            return value
        # remove percentage sign
        value = value.rstrip('%')
        # remove comma and white space
        value = ''.join([i for i in value if i not in [' ', ',', '-']])
        return float(value) if value else None
    @staticmethod
    def __validate_record_type(value: str) -> str|None:
        value = value.upper()
        return value if value in [RecordInfo.TYPE_AUM, RecordInfo.TYPE_EAR] else None

# some pages have more than one table, ge: https://cytonnreport.com/research/unit-trust-fund-performance-q3-1
table_columns_list: list[tuple[list[str], list[Callable[[pd.Series, dict], RecordInfo]]]] = [
    (
        ['Rank', 'Fund Manager', 'Effective Annual Rate'], 
        [
            # https://cytonnreport.com/research/kenyas-fy2024-2025-budget
            # https://cytonnreport.com/research/nairobi-metropolitan-area-serviced-apartments-report-2021
            lambda row, record: RecordInfo(
                RecordInfo.TYPE_EAR, record['researchdate'], row['Effective Annual Rate'], row['Fund Manager'])
        ]
    ),
    (
        ['Rank', 'Fund Manager', 'Effective Annual'], 
        [
            # https://cytonnreport.com/research/cytonn-monthly-may-2024
            # https://cytonnreport.com/research/q12023-unit-trust-funds-performance-cytonn-monthly-july-2023
            lambda row, record: RecordInfo(
                RecordInfo.TYPE_EAR, record['researchdate'], row['Effective Annual'], row['Fund Manager'])
        ]
    ),
    (
        ['Rank', 'Fund Manager', 'Daily Yield', 'Effective Annual Rate'], 
        [
            # Effective Annual Rate is better than Daily Yield: https://cytonnreport.com/research/cytonn-monthly-october-2021
            # https://cytonnreport.com/research/potential-effects-covid-19
            lambda row, record: RecordInfo(
                RecordInfo.TYPE_EAR, record['researchdate'], row['Effective Annual Rate'], row['Fund Manager']),
        ]
    ),
    (
        [ 
            'no.', 'fund-managers', 'q1’2020-aum(kshs-mns)', 'q1’2020market-share', 'q2’2020-aum(kshs-mns)', 
            'q2’2020market-share', 'aum-growthq1’2020-–-q2’2020'], 
        [
            # https://cytonnreport.com/research/unit-trust-funds-performance-q2-2020
            lambda row, _: RecordInfo(
                RecordInfo.TYPE_AUM, "Q1'2020", row['q1’2020-aum(kshs-mns)'], row['fund-managers']),
            lambda row, _: RecordInfo(
                RecordInfo.TYPE_AUM, "Q2'2020", row['q2’2020-aum(kshs-mns)'], row['fund-managers']),
        ]
    ),
    (
        ['no.', 'fund-managers', "fy'2019-aum(kshs-mns)", 'q1’2020-aum(kshs-mns)', "aum-growth*fy'2019-–-q1’2020"], 
        [
            # https://cytonnreport.com/research/unit-trust-funds-perfomance-q1-2020-cytonn-weekly
            lambda row, _: RecordInfo(
                RecordInfo.TYPE_AUM, "FY'2019", row["fy'2019-aum(kshs-mns)"], row['fund-managers']),
            lambda row, _: RecordInfo(
                RecordInfo.TYPE_AUM, "Q1'2020", row['q1’2020-aum(kshs-mns)'], row['fund-managers']),
        ]
    ),
    (
        ['no.', 'fund-managers', "fy'2018-aum-(kshs-mns)", "h1'2019-aum-(kshs-mns)", "aum-h1'2019-annualized-growth"], 
        [
            # https://cytonnreport.com/research/unit-trust-funds-performance
            lambda row, _: RecordInfo(
                RecordInfo.TYPE_AUM, "FY'2018", row["fy'2018-aum-(kshs-mns)"], row['fund-managers']),
            lambda row, _: RecordInfo(
                RecordInfo.TYPE_AUM, "H1'2019", row["h1'2019-aum-(kshs-mns)"], row['fund-managers']),
        ]
    ),
    (
        ['no.', 'money-market-fund', '2018-average-effective-annual-yield-p.a.'], 
        [
            # https://cytonnreport.com/research/investing-in-unit
            lambda row, record: RecordInfo(
                RecordInfo.TYPE_EAR, record['researchdate'], row['2018-average-effective-annual-yield-p.a.'], 
                row['money-market-fund'])
        ]
    ),
    (
        ['no.', 'fund-managers', 'q2’2020-aum', 'q2’2020', 'q3’2020-aum', 'q3’2020', 'aum-growth'], 
        [
            # https://cytonnreport.com/research/unit-trust-fund-performance-q3-1
            lambda row, _: RecordInfo(RecordInfo.TYPE_AUM, "Q2'2020", row['q2’2020-aum'], row['fund-managers']),
            lambda row, _: RecordInfo(RecordInfo.TYPE_AUM, "Q3'2020", row['q3’2020-aum'], row['fund-managers'])
        ]
    ),
    (
        ['rank', 'money-market-funds', 'effective-annual-rate-(average-q3’2020)'], 
        [
            # https://cytonnreport.com/research/unit-trust-fund-performance-q3-1
            lambda row, record: RecordInfo(
                RecordInfo.TYPE_EAR, record['researchdate'], row['effective-annual-rate-(average-q3’2020)'], 
                row['money-market-funds'])
        ]
    ),
    (
        ['no.', 'fund-managers', "fy'2018-aum(kshs-mns)", "fy'2019-aum(kshs-mns)", "aum-growthfy'2018---fy'2019"], 
        [
            # https://cytonnreport.com/research/fy2019-utf-performance
            lambda row, _: RecordInfo(RecordInfo.TYPE_AUM, "FY'2018", row["fy'2018-aum(kshs-mns)"], row['fund-managers']),
            lambda row, _: RecordInfo(RecordInfo.TYPE_AUM, "FY'2019", row["fy'2019-aum(kshs-mns)"], row['fund-managers']),
        ]
    ),
    (
        [
            'no.', 'fund-managers', "fy'2018-money-market-fund(kshs-mns)", "fy'2019-money-market-fund(kshs-mns)", 
            "fy'2018-market-share", "fy'2019-market-share", 'variance'
        ], 
        [
            # https://cytonnreport.com/research/fy2019-utf-performance
            lambda row, _: RecordInfo(
                RecordInfo.TYPE_AUM, "FY'2018", row["fy'2018-money-market-fund(kshs-mns)"], row['fund-managers']),
            lambda row, _: RecordInfo(
                RecordInfo.TYPE_AUM, "FY'2019", row["fy'2019-money-market-fund(kshs-mns)"], row['fund-managers']),
        ]
    ),
    (
        ['rank', 'money-market-funds', 'effective-annual-rate-(average-fy’2019)'], 
        [
            # https://cytonnreport.com/research/fy2019-utf-performance
            lambda row, record: RecordInfo(
                RecordInfo.TYPE_EAR, record['researchdate'], row['effective-annual-rate-(average-fy’2019)'], 
                row['money-market-funds']),
        ]
    ),
    (
        ['no.', 'unit-trust-fund-manager', 'aum', '%-of-market-share'], 
        [
            # https://cytonnreport.com/research/investment-options-in-kenyan-market
            lambda row, record: RecordInfo(
                RecordInfo.TYPE_AUM, record['researchdate'], row['aum'], row['unit-trust-fund-manager']),
        ]
    ),
    (
        [
            'no.', 'fund-managers', "h1'2018-money-market-fund(kshs-mn)", 'fy’2018-money-market-fund-(kshs-mn)', 
            "h1'2019-money-market-fund(kshs-mn)", "annualized-h1'2019-growth"
        ], 
        [
            # https://cytonnreport.com/research/options-for-your-pension
            lambda row, _: RecordInfo(
                RecordInfo.TYPE_AUM, "H1'2018", row["h1'2018-money-market-fund(kshs-mn)"], row['fund-managers']),
            lambda row, _: RecordInfo(
                RecordInfo.TYPE_AUM, "FY'2018", row['fy’2018-money-market-fund-(kshs-mn)'], row['fund-managers']),
            lambda row, _: RecordInfo(
                RecordInfo.TYPE_AUM, "H1'2019", row["h1'2019-money-market-fund(kshs-mn)"], row['fund-managers']),
        ]
    ),
    (
        [
            '#', 'fund-managers', "h1'2018-money-market-fund-aum-(kshs-mn)", "fy'2018-money-market-fund-aum(kshs-mn)", 
            "h1'2019-money-market-fund-aum(kshs-mn)", "annualized-h1'2019-aum-growth"
        ], 
        [
            # https://cytonnreport.com/research/cytonn-monthly-august-2019
            lambda row, _: RecordInfo(
                RecordInfo.TYPE_AUM, "H1'2018", row["h1'2018-money-market-fund-aum-(kshs-mn)"], row['fund-managers']),
            lambda row, _: RecordInfo(
                RecordInfo.TYPE_AUM, "FY'2018", row["fy'2018-money-market-fund-aum(kshs-mn)"], row['fund-managers']),
            lambda row, _: RecordInfo(
                RecordInfo.TYPE_AUM, "H1'2019", row["h1'2019-money-market-fund-aum(kshs-mn)"], row['fund-managers']),
        ]
    ),
    (
        [ 'No.', 'Collective Investment Schemes', "FY’2023 AUM", "FY’2023", "Q1'2024 AUM", "Q1’2024", 'AUM Growth'], 
        [
            # https://cytonnreport.com/research/q1-2024-unit-trust-funds-performance-note
            lambda row, _: RecordInfo(
                RecordInfo.TYPE_AUM, "FY'2023", row["FY’2023 AUM"], row['Collective Investment Schemes']),
            lambda row, _: RecordInfo(
                RecordInfo.TYPE_AUM, "Q1'2024", row["Q1'2024 AUM"], row['Collective Investment Schemes'])
        ]
    ),
]

def column_name_match_fn(x: str, y:str) -> bool:
    x = x.strip().lower()
    y = y.strip().lower()
    z = lambda val: re.sub(r'\s+', ' ', val).replace(" ", "-")
    return x == y or z(x) == z(y)

def get_table(table: Tag):
    for tag in table.find_all(True):
        tag.attrs = {} # remove tags such as colspan and rowspan
    for (table_columns, extractor_callbacks) in table_columns_list:
        clean_up_tasks: list[Callable[[], None]] = []
        header_tr_s: list[Tag] = table.select('thead tr')
        is_match = False
        for header_tr in header_tr_s:
            header_td_s: list[Tag] = header_tr.find_all('td')
            is_match_new = \
                len(header_td_s) == len(table_columns)\
                and all(
                    [column_name_match_fn(header_td.get_text(strip=True), table_column) 
                     for header_td, table_column 
                     in zip(header_td_s, table_columns)])
            if not is_match_new:
                clean_up_tasks.append(header_tr.extract)
            is_match = is_match or is_match_new
        if is_match:
            try:
                [clean_up_task() for clean_up_task in clean_up_tasks]
                table_df = pd.read_html(io.StringIO(str(table)))[0]
                table_df.columns = table_columns
                return (table_df, extractor_callbacks)
            except Exception as e:
                print('error', e, table)
                continue
    return (None, None)

def is_valid_dataframe(df: pd.DataFrame | None) -> bool:
    return df is not None and not df.empty

def get_tables(html: str):
    parsed_html = BeautifulSoup(html, "html.parser")
    tables: list[Tag] = [table for table in parsed_html.find_all('table')]
    for table in tables:
        table_df, extractor_callbacks = get_table(copy(table))
        if is_valid_dataframe(table_df):
            yield (table_df, extractor_callbacks)

def extract_table_by_column_names(record: pd.Series):
    topics: list[dict] = record['topics']
    all_topic_bodies = ' '.join([topic.get('body') for topic in topics])
    raw_tables__extractor_callbacks = get_tables(all_topic_bodies)
    for raw_table, extractor_callbacks in raw_tables__extractor_callbacks:
        if len(extractor_callbacks) > 0:
            for callback in extractor_callbacks:
                extracted: list[tuple[RecordInfo, pd.Series]] = [(callback(raw_table_row, record), raw_table_row) for _,raw_table_row in raw_table.iterrows()]
                _invalids = [i for i in extracted if not i[0].is_valid()]
                if len(_invalids) > 0:
                    invalids.append((record, _invalids, raw_table))
                yield raw_table, pd.DataFrame([vars(i) for i, _ in extracted if i.is_valid()])
        else:
            yield raw_table, None

In [ ]:
non_existent_fund_manager_maps

In [ ]:
invalids

#### Saving

In [ ]:
table_paths = 'extracted_tables'
os.makedirs(table_paths, exist_ok=True)
for _, record in tqdm(all_cytonn_reports_df.iterrows(), total=len(all_cytonn_reports_df)):
    raw_and_extracted_dataframes = extract_table_by_column_names(record)
    for _, extracted_df in raw_and_extracted_dataframes:
        if is_valid_dataframe(extracted_df):
            extracted_df.to_json(f'extracted_tables/{record.id}.json', orient='records')

#### Testing for Valid

In [ ]:
good = [i for i in non_existent_fund_manager_maps if not any([(j in i) for j in ['total', 'average', 'nan']])]
len(good), good

In [ ]:
# pd.set_option('display.max_colwidth', None)
with pd.option_context(
  'display.max_columns', None, 
  'display.max_colwidth', None):
  display(pd.DataFrame([{**vars(i), "row": j} for i, j, in invalids[0][1]]))

<hr/>

In [ ]:
from glob import glob

dataframes = []
for filename in  glob(f'extracted_tables/*.json'):
    json_df = pd.read_json(filename)
    dataframes.append(json_df)
combined_df = pd.concat(dataframes, ignore_index=True)
combined_df

In [ ]:
def expand_date_column(df: pd.DataFrame, expand_column: str):
    for _, row in df.iterrows():
        expanding_values = row[expand_column]
        if type(expanding_values) == list:
            start_date = datetime.strptime(expanding_values[0], "%Y-%m-%d")
            end_date = datetime.strptime(expanding_values[1], "%Y-%m-%d")
            start_end_diff_days = (end_date - start_date).days
            day_list = [
                (start_date + timedelta(days=i)).strftime('%Y-%m-%d') 
                for i 
                in range(start_end_diff_days + 1)
            ]
            for day in day_list:
                yield { **row.to_dict(), expand_column: day }
        else:
            yield row.to_dict()

combined_df = pd.DataFrame(expand_date_column(combined_df, 'record_date'))
combined_df

In [ ]:
grouped_df = combined_df.groupby(
    ['record_type', 'record_date', 'fund_manager'])['record_value'].mean().reset_index()
grouped_df

In [ ]:
EAR_df = grouped_df[grouped_df['record_type'] == 'EAR'].drop(columns=['record_type']).copy()
EAR_df['record_date'] = pd.to_datetime(EAR_df['record_date'])
EAR_pivot = EAR_df.pivot(index='record_date', columns='fund_manager', values='record_value')
EAR_pivot

In [ ]:
EAR_fig = px.line(EAR_pivot, x=EAR_pivot.index, y=EAR_pivot.columns)
EAR_fig.update_layout(
    height=800,
    margin=dict(t=100),
    title=dict(
        text="Effective Annual Rate",  # Your title here
        y=0.98,                   # Adjust the title's vertical position
        x=0.5,                    # Center the title
        xanchor='center',
        yanchor='top'
    ),
    xaxis=dict(
        side="top",    # This moves the x-axis to the top
        title="Date"   # This sets the title for the x-axis
    ),
    yaxis=dict(
        title="Effective Annual Rate"   # This sets the title for the x-axis
    ),

    legend=dict(
        orientation="h",  # horizontal orientation
        yanchor="bottom",
        y=-4.5,  # move the legend below the plot
        xanchor="center",
        x=0.5
    ))
EAR_fig.update_traces(
    hovertemplate="<br>".join([
        "fund_manager=%{fullData.name}",
        "date=%{x|%Y-%m-%d}",
        "annual_rate=%{y}%",
        # removes any additional trace information that Plotly might add by default.
        "<extra></extra>"
    ])
)
EAR_fig.show()

In [ ]:
start_date = '2022-09-01'
end_date = '2022-09-30'

# Filter the DataFrame
filtered_df = all_cytonn_reports_df[
    (pd.to_datetime(all_cytonn_reports_df['researchdate']) >= start_date) & \
    (pd.to_datetime(all_cytonn_reports_df['researchdate']) <= end_date)
]
list(filtered_df.loc[:,'url'])

In [ ]:
all_cytonn_reports_df

<hr/>

In [ ]:
AUM_df = grouped_df[grouped_df['record_type'] == 'AUM'].drop(columns=['record_type']).copy()
AUM_df['record_date'] = pd.to_datetime(AUM_df['record_date'])
AUM_pivot = AUM_df.pivot(index='record_date', columns='fund_manager', values='record_value')
AUM_pivot

In [ ]:
AUM_fig = px.line(AUM_pivot, x=AUM_pivot.index, y=AUM_pivot.columns)
AUM_fig.update_layout(
    height=800,
    margin=dict(t=100),
    title=dict(
        text="Assets Under Management",  # Your title here
        y=0.98,                   # Adjust the title's vertical position
        x=0.5,                    # Center the title
        xanchor='center',
        yanchor='top'
    ),
    xaxis=dict(
        side="top",    # This moves the x-axis to the top
        title="Date"   # This sets the title for the x-axis
    ),
    yaxis=dict(
        title="Assets Under Management"   # This sets the title for the x-axis
    ),

    legend=dict(
        orientation="h",  # horizontal orientation
        yanchor="bottom",
        y=-4.5,  # move the legend below the plot
        xanchor="center",
        x=0.5
    ))
AUM_fig.update_traces(
    hovertemplate="<br>".join([
        "fund_manager=%{fullData.name}",
        "date=%{x|%Y-%m-%d}",
        "annual_rate=%{y}%",
        # removes any additional trace information that Plotly might add by default.
        "<extra></extra>"
    ])
)
AUM_fig.show()

<hr/>

In [ ]:
def topics_tables_predicate(row: pd.Series):
    html = ' '.join([topic.get('body') for topic in row['topics']])
    parsed_html = BeautifulSoup(html, "html.parser")
    tables: list[Tag] = [table for table in parsed_html.find_all('table')]
    tables_str_value = ' '.join(str(table) for table in tables).lower()
    unwanted_regexes = ['cic\s*group', 'cic\s*insurance', 'cic\s*academia']
    for unwanted_regex in unwanted_regexes:
        tables_str_value = re.sub(unwanted_regex, "", tables_str_value, flags=re.IGNORECASE)
    return 'cic' in tables_str_value

matched_records = []
for index, record in tqdm(all_cytonn_reports_df.iterrows(), total=len(all_cytonn_reports_df)):
    raw_and_extracted_dataframes = extract_table_by_column_names(record)
    extracts = list(raw_and_extracted_dataframes)
    is_topics_match = topics_tables_predicate(record)
    matched_records.append((index, len(extracts), is_topics_match))

In [ ]:
indexes_with_cic = [index for index, tables, is_topics_match in matched_records if tables == 0 and is_topics_match]
indexes_with_cic

<hr/>

In [ ]:
len(indexes_with_cic)

In [ ]:
webbrowser.get("/usr/bin/google-chrome %s")
for index in indexes_with_cic[20:]:
    url = str(all_cytonn_reports_df.loc[index, 'url'])
    webbrowser.open(url)

In [ ]:
row = all_cytonn_reports_df.loc[
    all_cytonn_reports_df['url'] == 'https://cytonnreport.com/research/unit-trust-fund-performance-q3-1'
].iloc[0]
dfs = extract_table_by_column_names(row)

In [ ]:
dfs[0]

<hr/>

In [ ]:
row = all_cytonn_reports_df.loc[
    all_cytonn_reports_df['url'] == 'https://cytonnreport.com/research/q1-2024-unit-trust-funds-performance-note'
].iloc[0]
table_columns_list = [
    (
        [ 'No.', 'Collective Investment Schemes', "FY’2023 AUM", "FY’2023", "Q1'2024 AUM", "Q1’2024", 'AUM Growth'], 
        [
            # https://cytonnreport.com/research/q1-2024-unit-trust-funds-performance-note
            lambda row, _: RecordInfo("AUM", 'FY’2023', row["FY’2023 AUM"], row['Collective Investment Schemes']),
            lambda row, _: RecordInfo("AUM", 'Q1’2024', row["Q1'2024 AUM"], row['Collective Investment Schemes'])
        ]
    ),
]
dfs = extract_table_by_column_names(row)

In [ ]:
one = next(dfs)

In [ ]:
one[1]

## Achrives

To ensure perpetuity and reproducibility of this analysis, the crawled [Cytton reports](https://huggingface.co/datasets/ToKnow-ai/money-market-funds-in-kenya__july-2024-archive/viewer/cytonn_reports) and [CMA Approved Fund Managers](https://huggingface.co/datasets/ToKnow-ai/money-market-funds-in-kenya__july-2024-archive/viewer/cma_approved_fund_managers) has been archived at <https://huggingface.co/datasets/ToKnow-ai/money-market-funds-in-kenya__july-2024-archive>.

### CMA Approved Fund Managers
<iframe
  src="https://huggingface.co/datasets/ToKnow-ai/money-market-funds-in-kenya__july-2024-archive/embed/viewer/cma_approved_fund_managers"
  frameborder="0"
  width="100%"
  height="560px"
></iframe>



### Cytonn Reports
<iframe
  src="https://huggingface.co/datasets/ToKnow-ai/money-market-funds-in-kenya__july-2024-archive/embed/viewer/cytonn_reports"
  frameborder="0"
  width="100%"
  height="560px"
></iframe>

## Conclusion

<!-- metadata: abstract, preserve_cell=true -->
It seems like good investment. blah blah blah blah blah blah blah blah...
<!-- metadata: -->

Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

In [ ]:
import re

pattern = r"<!--\s*metadata:\s*(.*?)\s*-->\s*(.*?)\s*(?=<!-- metadata:|$)"

re.findall(pattern, cell.source, re.DOTALL)

In [31]:
not any([])

True